/*---------------------------
  Layout
----------------------------*/

@import "typography.less";
@import "colours.less";

header {

  width: 100%;
  text-align: left;
  padding: 2rem 1rem 0rem 1rem;
  height: 5rem;
  border-bottom: 0.2rem solid white;

}

a {

  text-decoration: none;
  color: inherit;

}

.nav__logo {

  .logo-text;

}

nav {

  margin: 2rem 0;
  display: none;

}

a {

  .nav-text;

}

main {


}

footer {

  background-color: @dark-green;
  height: 100%;
  padding: 2rem 1rem;

}

.sitemap {

  .sitemap-text;

}


/*---------------------------
  Media Queries
----------------------------*/

@media all and (min-width: 1200px) {

  footer {

    padding: 4rem 16rem;

  }

}
