/*---------------------------
  Shortcuts List
----------------------------*/

@import "typography.less";
@import "colours.less";

.shortcuts__list {

  .shortcut-text;

}

.shortcut {

  height: 5.5rem;
  text-align: center;
  vertical-align: middle;
  padding: 2rem 0rem;
  border-bottom: 0.15rem solid white;

}


/*---------------------------
  Media Queries
----------------------------*/

@media all and (min-width: 1200px) {

  .shortcuts {

    background-color: white;

  }

  .shortcut {

    width: 33.333%;
    display: inline-block;
    margin-left: -5px;
    border-right: 0.1rem solid white;
    background-color: @green;

  }

  .scores li:nth-child(4) {
    
    border-right: none;

  }

}
